[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
flask-wtf = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-login = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
