{%extends 'base.html' %}

{%block body%}

<div class="container">
    {%include 'nav.html' %}
</div>
<div class="container">
    <img class="img-fluid pt-5 h-25" src="{{url_for('static', filename='assets/banner.jpg')}}" alt="">
</div>

<div id="blogs">
    {%include 'blogs.html' %}
</div>


<hr class="mt-5 w-75">
<footer class=" container pt-5 pb-5 text-center">
    <div class="small">
        <i class="fa fa-twitter rounded p-3" aria-hidden="true"></i>
        <i class="fa fa-linkedin rounded p-3" aria-hidden="true"></i>
        <i class="fa fa-youtube-play rounded p-3" aria-hidden="true"></i>
    </div>

    <div class="text-center pt-5 pb-2">
        <small>
            Copyright ©2022 All rights reserved | Made with
            <i class="fa fa-heart" aria-hidden="true"></i> by <a>Michelle</a><br>
            <div class="pt-2">
                Terms & Conditions/ Privacy Policy
            </div>

        </small>


    </div>


</footer>

{%endblock%}